<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="http://venus.unive.it/r.casarin/logoVE2.PNG" />
        </div>
    </a>

    <a class="simple-text logo-normal">
        <small translate>Global.InternshipsManager</small>
    </a>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="{{authService.currentUser.image || 'assets/img/default-profile-image.png'}}" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#user" class="collapsed">
                <span>
                    {{authService.currentUser.name}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="clearfix"></div>

            <div class="collapse" id="user">
                <ul class="nav">
                    <li routerLinkActive="active">
                        <a [routerLink]="'/auth/user'">
                            <span class="sidebar-mini">P</span>
                            <span class="sidebar-normal" translate>Dictionary.Profile</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="'/auth/user/logout'">
                            <span class="sidebar-mini">X</span>
                            <span class="sidebar-normal" translate>Dictionary.Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link' && canExecute(menuitem.requiredRoles)">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title | translate}}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{getTemplateString(menuitem.title)}}" *ngIf="menuitem.type === 'sub' && canExecute(menuitem.requiredRoles)">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title | translate}}
                    <b class="caret"></b>
                </p>
            </a>

            <!--Display the submenu items-->
            <div id="{{getTemplateString(menuitem.title)}}" class="collapse" *ngIf="menuitem.type === 'sub' && canExecute(menuitem.requiredRoles)">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                        <a [routerLink]="[menuitem.path, childitem.path]" *ngIf="canExecute(childitem.requiredRoles)">
                            <span class="sidebar-mini">{{childitem.ab}}</span>
                            <span class="sidebar-normal">{{childitem.title | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>