<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card" *ngIf="internship">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Pages.InternshipDetails.Title
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label translate>Dictionary.Company</label>
                            <p class="form-control-static">{{internship.company.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="internship && canExec(authService.currentUser.role.type,[RoleType.Company,RoleType.Professor])">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Dictionary.Status
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label translate>Dictionary.Status</label>
                            <p class="form-control-static">{{('Enums.InternshipStatusType.' + InternshipStatusType[internship.status]) | translate}}</p>
                        </div>
                        <div class="form-group" [hidden]="internship.status != InternshipStatusType.Rejected">
                            <label translate>Dictionary.RejectReason</label>
                            <p class="form-control-static" [innerHTML]="internship.rejectReason ? domSanitizer.bypassSecurityTrustHtml(internship.rejectReason) : ('Dictionary.NotDefined' | translate)"></p>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="internship">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Dictionary.Details
                        </h4>
                    </div>
                    <div class="card-content">

                        <div class="row form-group">
                            <div class="col-lg-6 col-xs-12">
                                <label translate>Dictionary.Address</label>
                                <p class="form-control-static">{{internship.address | address}}</p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label translate>Dictionary.StartDate</label>
                                <p class="form-control-static">{{internship.startDate | date}}</p>
                            </div>
                            <div class="col-md-6">
                                <label translate>Dictionary.EndDate</label>
                                <p class="form-control-static">{{internship.endDate | date}}</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label translate>Dictionary.TotalHours</label>
                                <p class="form-control-static">{{internship.totalHours || ('Dictionary.NotSpecified' | translate)}}</p>
                            </div>
                            <div class="col-sm-6">
                                <label translate>Dictionary.StudentsNumber</label>
                                <p class="form-control-static">{{internship.studentsNumber || ('Dictionary.NotSpecified' | translate)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="internship">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{internship.title}}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div [innerHTML]="domSanitizer.bypassSecurityTrustHtml(internship.description)"></div>
                    </div>
                </div>

                <div class="card" *ngIf="internship">
                    <div class="card-content">
                        <div>
                            <button type="button" class="btn btn-default" [routerLink]="'/auth/internships'" translate>Dictionary.Back</button>
                            <button type="button" class="btn btn-success pull-right" [routerLink]="'/auth/internships/' + internship.id + '/candidate'"
                                *ngIf="internship.status == InternshipStatusType.Approved && canExec(authService.currentUser.role.type,[RoleType.Student]) && availablePlace > 0"
                                translate>Dictionary.ProposeYourSelf</button>
                            <button type="button" class="btn btn-success pull-right" [routerLink]="'/auth/internships/' + internship.id + '/candidate'"
                                *ngIf="internship.status == InternshipStatusType.Approved && canExec(authService.currentUser.role.type,[RoleType.Student]) && availablePlace == 0"
                                disabled translate>Dictionary.NoAvailablePlace</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>