<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card" *ngIf="comapny">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{comapny.name}}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label translate>Dictionary.VatCode</label>
                            <p class="form-control-static">{{comapny.vatCode}}</p>
                        </div>
                        <div class="form-group">
                            <label translate>Dictionary.RegistrationDate</label>
                            <p class="form-control-static">{{comapny.registrationDate | date}}</p>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" [routerLink]="'/auth/user'" translate>Dictionary.Cancel</button>
                            <button type="button" class="btn btn-success" (click)="save()" translate>Dictionary.Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>