<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{'Pages.InternshipAdd.Title' | translate }}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label>{{'Dictionary.Company' | translate}}</label>
                            <select class="selectpicker" data-style="btn btn-block" [(ngModel)]="selectedCompanyId" (change)="updateAddress()">
                                <option *ngFor="let cmp of companies" [value]="cmp.id">{{cmp.name}} - {{cmp.vatCode}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{'Dictionary.Address' | translate }}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <div class="row form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label>{{'Dictionary.Street' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Street' | translate}}" [(ngModel)]="internship.address.street"
                                    />
                                </div>
                                <div class="col-lg-4 col-xs-6">
                                    <label>{{'Dictionary.Number' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Number' | translate}}" [(ngModel)]="internship.address.number"
                                    />
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    <label>{{'Dictionary.Floor' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Number' | translate}}" [(ngModel)]="internship.address.floor"
                                    />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6">
                                    <label>{{'Dictionary.City' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.City' | translate}}" [(ngModel)]="internship.address.city"
                                    />
                                </div>
                                <div class="col-xs-6">
                                    <label>{{'Dictionary.State' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.State' | translate}}" [(ngModel)]="internship.address.state"
                                    />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6">
                                    <label>{{'Dictionary.Zip' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Zip' | translate}}" [(ngModel)]="internship.address.zip"
                                    />
                                </div>
                                <div class="col-xs-6">
                                    <label>{{'Dictionary.Country' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Country' | translate}}" [(ngModel)]="internship.address.country"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            {{'Dictionary.Details' | translate}}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label>{{'Dictionary.Title' | translate}}</label>
                            <input type="text" class="form-control" placeholder="{{'Dictionary.Title' | translate}}" [(ngModel)]="internship.title" />
                        </div>
                        <div class="form-group">
                            <label>{{'Dictionary.Description' | translate}}</label>
                            <ckeditor [(ngModel)]="internship.description" [config]="config"></ckeditor>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-6">

                                <label>{{'Dictionary.StartDate' | translate}}</label>
                                <input type="text" class="form-control" datepicker [(date)]="internship.startDate" placeholder="{{'Dictionary.StartDate' | translate}}"
                                />
                            </div>
                            <div class="col-xs-6">
                                <label>{{'Dictionary.EndDate' | translate}}</label>
                                <input type="text" class="form-control" datepicker [(date)]="internship.endDate" placeholder="{{'Dictionary.EndDate' | translate}}"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">

                                <label>{{'Dictionary.TotalHours' | translate}}</label>
                                <input type="number" class="form-control" placeholder="{{'Dictionary.TotalHours' | translate}}" [(ngModel)]="internship.totalHours"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label>{{'Dictionary.StudentsNumber' | translate}}</label>
                                <input type="number" class="form-control" placeholder="{{'Dictionary.StudentsNumber' | translate}}" [(ngModel)]="internship.studentsNumber"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div>
                            <button type="button" class="btn btn-default" [routerLink]="'/auth/internships/offers'">{{'Dictionary.Cancel' | translate}}</button>
                            <button type="button" class="btn btn-success pull-right" (click)="save()">{{'Dictionary.Save' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>