<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Pages.InternshipAdd.Title
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label translate>Dictionary.Company</label>
                            <select class="selectpicker" data-style="btn btn-block" [(ngModel)]="selectedCompanyId" (change)="updateAddress()">
                                <option *ngFor="let cmp of companies" [value]="cmp.id">{{cmp.name}} - {{cmp.vatCode}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Dictionary.Address
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <div class="row form-group">
                                <div class="col-lg-6 col-xs-12">
                                    <label translate>Dictionary.Street</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Street' | translate}}" [(ngModel)]="internship.address.street"
                                    />
                                </div>
                                <div class="col-lg-4 col-xs-6">
                                    <label translate>Dictionary.Number</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Number' | translate}}" [(ngModel)]="internship.address.number"
                                    />
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    <label translate>Dictionary.Floor</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Number' | translate}}" [(ngModel)]="internship.address.floor"
                                    />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6">
                                    <label translate>Dictionary.City</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.City' | translate}}" [(ngModel)]="internship.address.city"
                                    />
                                </div>
                                <div class="col-xs-6">
                                    <label translate>Dictionary.State</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.State' | translate}}" [(ngModel)]="internship.address.state"
                                    />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6">
                                    <label translate>Dictionary.Zip</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Zip' | translate}}" [(ngModel)]="internship.address.zip"
                                    />
                                </div>
                                <div class="col-xs-6">
                                    <label translate>Dictionary.Country</label>
                                    <input type="text" class="form-control" placeholder="{{'Dictionary.Country' | translate}}" [(ngModel)]="internship.address.country"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" translate>
                            Dictionary.Details
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="form-group">
                            <label translate>Dictionary.Title</label>
                            <input type="text" class="form-control" placeholder="{{'Dictionary.Title' | translate}}" [(ngModel)]="internship.title" />
                        </div>
                        <div class="form-group">
                            <label translate>Dictionary.Description</label>
                            <ckeditor [(ngModel)]="internship.description" [config]="config"></ckeditor>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-6">

                                <label translate>Dictionary.StartDate</label>
                                <input type="text" class="form-control" datepicker [(date)]="internship.startDate" placeholder="{{'Dictionary.StartDate' | translate}}"
                                />
                            </div>
                            <div class="col-xs-6">
                                <label translate>Dictionary.EndDate</label>
                                <input type="text" class="form-control" datepicker [(date)]="internship.endDate" placeholder="{{'Dictionary.EndDate' | translate}}"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">

                                <label translate>Dictionary.TotalHours</label>
                                <input type="number" class="form-control" placeholder="{{'Dictionary.TotalHours' | translate}}" [(ngModel)]="internship.totalHours"
                                />
                            </div>
                            <div class="col-sm-6">
                                <label translate>Dictionary.StudentsNumber</label>
                                <input type="number" class="form-control" placeholder="{{'Dictionary.StudentsNumber' | translate}}" [(ngModel)]="internship.studentsNumber"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div>
                            <button type="button" class="btn btn-default" [routerLink]="'/auth/internships/list'" translate>Dictionary.Cancel</button>
                            <button type="button" class="btn btn-success pull-right" (click)="save()" translate>Dictionary.Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>